#bottom_content {
    margin-top: 50px;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.05rem;
}

h5 {
    font-size: .9rem;
}

h6 {
    font-size: 0.8rem;
}


img,
video {
    max-width: 100%;
}

.yellow10-text {
    color: #f57f17 !important
}

.yellow10-border {
    border-color: #f57f17 !important
}

.pointer {
    cursor: pointer
}

.month-1+ :not(.month-1),
.month-2+ :not(.month-2),
.month-3+ :not(.month-3),
.month-4+ :not(.month-4),
.month-5+ :not(.month-5),
.month-6+ :not(.month-6),
.month-7+ :not(.month-7),
.month-8+ :not(.month-8),
.month-9+ :not(.month-9),
.month-10+ :not(.month-10),
.month-11+ :not(.month-11),
.month-12+ :not(.month-12) {
    border-top: 1px solid black !important;
    /*background-color: red !important;*/
}